.custom_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #7bde5a;
}

.register_title {
  text-align: center;
}

.register_card {
  width: 350px;
  padding: 80px 40px;
  display: flex;
  justify-content: center;
}

.register_title {
  font-weight: normal;
  margin-top: 0;
  color: #00b143;
  font-size: 25px;
  margin-bottom: 30px;
}

.full_width {
  width: 100%;
}

.register_form {
}

.register_content {
  width: 250px;
}

.register_button {
  padding: 5px 16px;
  width: 100%;
  background-color: #00b143;
}

.no_account {
  margin-top: 1.25em;
  font-size: 13px;
  text-align: center;
}

.no_account span:first-child {
  color: #757575;
}

.no_account span:nth-child(2) a {
  color: #00b143;
  text-decoration: none;
}

mat-form-field span.checkmark .approve {
  position: relative;
}

mat-form-field span.checkmark .approve:after {
  content: "";
  background-color: transparent;

  /* position the checkbox */
  position: absolute;
  right: -10px;
  top: 0px;

  /* setting the checkbox */
  /* short arm */
  width: 5px;
  border-bottom: 3px solid #4d7c2a;
  /* long arm */
  height: 11px;
  border-right: 3px solid #4d7c2a;

  /* rotate the mirrored L to make it a checkbox */
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

mat-form-field span.checkmark .line1 {
  position: absolute;
  right: -10px;
  top: 20%;
  background-color: red;
  width: 2px;
  height: 35%;
  transform: rotate(45deg);
}

mat-form-field span.checkmark .line2 {
  position: absolute;
  right: -10px;
  top: 20%;
  background-color: red;
  width: 2px;
  height: 35%;
  transform: rotate(-45deg);
}
