<div class="custom_container">
  <mat-card class="register_card">
    <div class="register_content">
      <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length > 0">
        {{ errorMsg }}
      </div>
      <h1 class="register_title">Register your Tank</h1>
      <form
        [formGroup]="registrationForm"
        (submit)="register()"
        class="register_form"
      >
        <mat-card-content>
          <mat-form-field class="full_width">
            <input
              matInput
              type="text"
              placeholder="Username"
              formControlName="username"
              (focusout)="checkUsername()"
            />

            <span
              class="checkmark"
              *ngIf="validUsername && validUsername != null"
            >
              <span class="approve"></span>
            </span>
            <span
              class="checkmark"
              *ngIf="!validUsername && validUsername != null"
            >
              <span class="line1"></span>
              <span class="line2"></span>
            </span>

            <mat-error *ngIf="fval.username.hasError('alreadyExists')">
              Username is already in use.
            </mat-error>

            <mat-error
              *ngIf="
                fval.username.hasError('minlength') &&
                !fval.username.hasError('required')
              "
            >
              Minimum username length is <strong>4 characters.</strong>
            </mat-error>

            <mat-error *ngIf="fval.username.hasError('required')">
              Username is <strong>required</strong>
            </mat-error>

            <mat-error
              *ngIf="
                fval.username.hasError('maxlength') &&
                !fval.username.hasError('required')
              "
            >
              Maximum username length is <strong>15 characters.</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full_width">
            <input
              matInput
              type="email"
              placeholder="Email"
              formControlName="email"
              (focusout)="checkEmail()"
            />

            <span class="checkmark" *ngIf="validEmail && validEmail != null">
              <span class="approve"></span>
            </span>
            <span class="checkmark" *ngIf="!validEmail && validEmail != null">
              <span class="line1"></span>
              <span class="line2"></span>
            </span>

            <mat-error *ngIf="fval.email.hasError('alreadyExists')">
              Email is already in use.
            </mat-error>

            <mat-error *ngIf="fval.email.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>

            <mat-error
              *ngIf="
                fval.email.hasError('maxlength') &&
                !fval.email.hasError('required')
              "
            >
              Maximum email length is <strong>45 characters.</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full_width">
            <input
              type="password"
              matInput
              formControlName="password"
              placeholder="Password"
            />

            <mat-error *ngIf="fval.password.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>

            <mat-error
              *ngIf="
                fval.password.hasError('minlength') &&
                !fval.password.hasError('required')
              "
            >
              Minimim password length is <strong>6 characters.</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full_width">
            <input
              type="password"
              matInput
              formControlName="confirmPassword"
              placeholder="Confirm password"
            />

            <mat-error *ngIf="fval.confirmPassword.hasError('required')">
              Confirm password is <strong>required</strong>
            </mat-error>

            <mat-error
              *ngIf="
                !equalPasswords() && !fval.confirmPassword.hasError('required')
              "
            >
              Passwords do not match.
            </mat-error>
          </mat-form-field>
        </mat-card-content>
        <button mat-flat-button color="primary" class="register_button">
          Register
        </button>
        <div class="no_account">
          <span
            ><span style="color: red;">*</span> All fields are required
          </span>
        </div>
      </form>
    </div>
  </mat-card>
</div>
