<div class="container mw-100">
  <div class="row">
    <mat-toolbar>
      <div class="col-sm-9 float-right">
        <span>Leaderboard</span>
      </div>
      <div class="col-sm-1 float-right">
        <span>Searching:</span>
      </div>
      <div class="col-sm-2 float-right">
        <input
          (keyup)="applyFilter($event.target.value)"
          (focus)="ngOnInit()"
          id="searchTextId"
          name="searchText"
          class="form-control float-right"
          placeholder="Search..."
        />
      </div>
    </mat-toolbar>
    <div class="col">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z20 mw-100"
      >
        <ng-container matColumnDef="idIgralec">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let grouplist">
            {{ grouplist.idIgralec }}
          </td>
        </ng-container>

        <ng-container matColumnDef="uporabnisko_ime">
          <th mat-header-cell *matHeaderCellDef>Username</th>
          <td mat-cell *matCellDef="let grouplist">
            {{ grouplist.uporabnisko_ime }}
          </td>
        </ng-container>

        <ng-container matColumnDef="kills">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Kills</th>
          <td mat-cell *matCellDef="let grouplist">{{ grouplist.kills }}</td>
        </ng-container>

        <ng-container matColumnDef="deaths">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Deaths</th>
          <td mat-cell *matCellDef="let grouplist">{{ grouplist.deaths }}</td>
        </ng-container>

        <ng-container matColumnDef="kd_ratio">
          <th
            style="width: 150px !important;"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            k/d ratio
          </th>
          <td mat-cell *matCellDef="let grouplist">{{ grouplist.kd_ratio }}</td>
        </ng-container>

        <ng-container matColumnDef="coins">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Coins</th>
          <td mat-cell *matCellDef="let grouplist">{{ grouplist.coins }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
