<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <h1 class="h1 text-danger mt-2 mr-auto">Tank Legends - Leaderboards</h1>
  <button class="btn btn-danger my-2 my-sm-0" (click)="logout()">
    Logout
  </button>
</nav>
