<div class="custom_container">
  <mat-card class="login_card">
    <div class="login_content">
      <h1 class="login_title">Login to your Tank</h1>
      <form [formGroup]="loginForm" (submit)="login()" class="login_form">
        <mat-card-content>
          <mat-form-field class="full_width">
            <input
              matInput
              type="text"
              placeholder="Username"
              [formControl]="username"
            />

            <!-- error messages -->
            <mat-error
              *ngIf="
                username.hasError('minlength') && !username.hasError('required')
              "
            >
              Minimum username length is <strong>4 characters.</strong>
            </mat-error>
            <mat-error *ngIf="username.hasError('required')">
              Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full_width">
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
            />

            <!-- error messages -->
            <mat-error *ngIf="password.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            <mat-error
              *ngIf="
                password.hasError('minlength') && !password.hasError('required')
              "
            >
              Minimum password length is <strong>6 characters.</strong>
            </mat-error>
          </mat-form-field>
        </mat-card-content>
        <button mat-flat-button color="primary" class="login_button">
          Log in
        </button>
        <mat-error class="customMatError" *ngIf="wrongUsernameOrPassword"
          ><strong>Wrong username or password.</strong></mat-error
        >
        <div class="no_account">
          <span>Not registered? </span
          ><span><a [routerLink]="['/register']">Create an account</a></span>
        </div>
      </form>
    </div>
  </mat-card>
</div>
