.custom_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #7bde5a;
}

.login_title {
  text-align: center;
}

.login_card {
  width: 350px;
  padding: 80px 40px;
  display: flex;
  justify-content: center;
}

.login_title {
  font-weight: normal;
  margin-top: 0;
  color: #00b143;
  font-size: 25px;
  margin-bottom: 30px;
}

.full_width {
  width: 100%;
}

.login_form {
}

.login_content {
  width: 250px;
}

.login_button {
  padding: 5px 16px;
  width: 100%;
  background-color: #00b143;
}

.no_account {
  margin-top: 1.25em;
  font-size: 13px;
  text-align: center;
}

.no_account span:first-child {
  color: #757575;
}

.no_account span:nth-child(2) a {
  color: #00b143;
  text-decoration: none;
  cursor: pointer;
}

.no_account span:nth-child(2) a:hover {
  text-decoration: underline;
}

.customMatError {
  text-align: center;
  font-size: 75%;
  margin-top: 0.66667em;
  top: calc(100% - 1.79167em);
}
